@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:'Poppins',sans-serif;
}

.forgot-container{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background-size:cover;
background-position:center;
background-repeat:no-repeat;
}

.forgot-card{
width:450px;
padding:40px;
border-radius:20px;
background:rgba(255,255,255,0.1);
backdrop-filter:blur(10px);
box-shadow:0px 5px 25px rgba(0,0,0,0.3);
color:white;
text-align:center;
}

.logo{
width:90px;
margin-bottom:15px;
}

.forgot-card h2{
margin-bottom:10px;
}

.forgot-card p{
margin-bottom:25px;
}

.forgot-card form{
display:flex;
flex-direction:column;
}

.forgot-card input{
padding:14px;
margin-bottom:15px;
border:none;
border-radius:10px;
outline:none;
font-size:16px;
}

.forgot-card button{
padding:14px;
border:none;
border-radius:30px;
background:#f4b400;
font-weight:600;
cursor:pointer;
transition:0.3s;
}

.forgot-card button:hover{
background:white;
}

.back-link{
margin-top:20px;
}

.back-link a{
text-decoration:none;
color:#f4b400;
font-weight:600;
}